<div class="row g-5 mb-5">
  <div>
    <h3 class="cv-header pb-3 mb-5">Contact Me</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 pt-3">
	      <div class="col-md-6 mx-auto">
        <p><b>Email:</b> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
		<p><b>LinkedIn:</b> <a href="https://www.linkedin.com/in/{{contact.linkedin}}">{{ contact.linkedin }}</a> </p>
		<p><b>Facebook:</b> <a href="https://www.facebook.com/{{contact.fb}}">{{ contact.fb }}</a></p>
        <p><b>VK:</b> <a href="https://vk.com/{{contact.vk}}">{{ contact.vk }}</a></p>
      </div>
	  <div class="col-md-6 xs-auto">
		<img class="img-fluid round-img" src="{{ site.github.url }}/{{ contact.image }}" alt="">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
