---
layout: default
---

<div id="featured">
	<div class="container">
	<header class="mb-3 border-bottom">
			<h3 align="center">ArtFaceApp</h3>
	</header>

	<div class="row cv-header">
	  <div class="col-md-12 text-center padding-zero">
		 <div class="ratio ratio-16x9">
			<iframe src="https://www.youtube.com/embed/4vy3_GMFEiE" style="max-width: 100%;height: 100%;" allowfullscreen></iframe>
		</div>
	  </div>
	</div>


	<h5 style="margin-bottom: 1rem;">Demo: <a href="https://artfaceapp.ru">artfaceapp.ru</a></h5> 
	<p align="justify"> 
	ArtFaceApp is a final project for CS50 Harvard course "Introduction to Computer Science".
	</p>
	<p align="justify"> 
	This project is a website that allows you to upload a photo of a person's face and learn about the decade of the twentieth century (1910-2000), in which this person would be in fashion, based on the similarities with the famous people of this decade. This information is used to process the uploaded photo in the style of artists and photographers of that decade.
	</p>
	<p align="justify">
	This project allows you to learn more about the art of the twentieth century and popular people of that time, and also perhaps learn something more about yourself. From a technical point of view, the project is interesting because it uses computer vision techniques for face comparison and convolutional neural networks for image style transfer.
	</p>
	<h5>Github page: <a href="https://github.com/svponomarev/artfaceapp">svponomarev/artfaceapp</a></h5> 



	</div>
</div>

