---
layout: default
---

<div class="g-5" style="text-align: justify;">

  
  <div class="row clearfix about-container" >
	  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 no-print">

			<img class="img-fluid profile-img" src="{{ site.github.url }}/assets/img/avatar2.jpg" alt="">
	  </div>
	  <div class="col col-xs-12 col-sm col-md-6 col-lg-6">
		  <h3 class="fw-bold" align="center">About Me</h3>
		{{ content }}
	  </div>
   </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
