---
layout: page
---


<div class="container">
<div class="row">
  <div class="col-md-12 my-auto text-center">
	<a href="https://apps.apple.com/zw/app/volna-project/id1553930355"><img style="border: 1px solid #555;  border-radius: 10%;" src="images/logo.png" alt="logo" width="200"/></a>
  </div>
</div>
<div class="row text-center mb-3 cv-header">
<h4 style="text-align: center;">Project for the personal training studio <br/> Volna Sport Club</h4>
</div>
<div class="row">
<div class="col-md-3 my-auto text-center">
<img class="img-fluid mb-5" src="images/screenshot1.jpeg" alt="">
</div>
<div class="col-md-3 my-auto text-center">
<img class="img-fluid mb-5" src="images/screenshot2.jpeg" alt="">
</div>
<div class="col-md-3 my-auto text-center">
<img class="img-fluid mb-5" src="images/screenshot3.jpeg" alt="">
</div>
<div class="col-md-3 my-auto text-center">
<img class="img-fluid mb-5" src="images/screenshot4.jpeg" alt="">
</div>

</div>


	

<ul>
<li>Development of an application for recording and analyzing the readings of the electromyographic sensors during a series of exercises; </li>
<li>Development of an application for the integration of three types of reports (electromyographic report, mobility report, tensometry report) and analysis of the plasticity of the athlete's anatomy trains; </li>
<li>Development of a mobile application with three-dimensional visualization of problematic anatomy trains on the human body and generation of workouts with recommended exercises </li>
</ul>
</div>

