---
layout: default
---


<div class="container">
<header class="mb-3 border-bottom">
	<h3 align="center">Volna Project</h3>
</header>
<div class="row cv-header">
  <div class="col-md-12 text-center padding-zero">
	 <div class="ratio ratio-16x9">
		<iframe src="https://www.youtube.com/embed/aAGUcbfgTWE" style="max-width: 100%;height: 100%;" allowfullscreen></iframe>
	</div>
  </div>
</div>
<div class="row text-center mb-3 cv-header">
<h4 style="text-align: center;">Project for the training studio <br/> Volna Sport Club</h4>
</div>
<div class="row">
<div class="col-md-3 my-auto text-center">
<img class="img-fluid mb-5" src="{{ site.github.url }}/assets/img/screenshot1.jpeg" alt="">
</div>
<div class="col-md-3 my-auto text-center">
<img class="img-fluid mb-5" src="{{ site.github.url }}/assets/img/screenshot2.jpeg" alt="">
</div>
<div class="col-md-3 my-auto text-center">
<img class="img-fluid mb-5" src="{{ site.github.url }}/assets/img/screenshot3.jpeg" alt="">
</div>
<div class="col-md-3 my-auto text-center">
<img class="img-fluid mb-5" src="{{ site.github.url }}/assets/img/screenshot4.jpeg" alt="">
</div>

</div>


	
<h5 style="margin-bottom: 1rem;">App Store link: <a href="https://apps.apple.com/zw/app/volna-project/id1553930355">Volna Project</a></h5> 
<ul>
<li>Development of an application for recording and analyzing the readings of the electromyographic sensors during a series of exercises; </li>
<li>Development of an application for the integration of three types of reports (electromyographic report, mobility report, tensometry report) and analysis of the plasticity of the athlete's anatomy trains; </li>
<li>Development of a mobile application with three-dimensional visualization of problematic anatomy trains on the human body and generation of workouts with recommended exercises </li>
</ul>
</div>

